body {
    background-color: rgb(255, 247, 251);
    color: rgb(122, 92, 108);
    font-family: monospace;
    text-align: center;
}

p, ol, ul, li, td, th, tr {
    color: rgb(122, 92, 108);
    font-size: 20px;
    font-weight: 100;
}

p:hover {
    color: rgb(216, 143, 184);
}

li:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(214, 179, 230);
    border-radius: 6px;
    padding: 2px 4px;
}

a {
    color: rgb(196, 137, 179);
    text-decoration: none;
}

a:hover {
    color: rgb(231, 168, 216);
}

button {
    font-family: monospace;
    padding: 6px 18px;
    margin: 6px;
    background-color: rgb(247, 217, 232);
    border: 1px solid rgb(229, 180, 210);
    border-radius: 6px;
    color: rgb(122, 92, 108);
}

button:hover







