body {
    background-color: rgb(255, 247, 251);
    color: rgb(122, 92, 108);
    font-family: monospace;
    text-align: center;
}

p, ol, ul, li, td, th, tr {
    color: rgb(122, 92, 108);
    font-size: 20px;
    font-weight: 100;
}

p:hover {
    color: rgb(216, 143, 184);
}

li:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(214, 179, 230)

}


p:hover{
    color: pink;
}




